.category{
    display: flex;
    flex-direction: row;
    gap:30px;
    border-radius: 2px;
    background: #F2F2F2;
    box-shadow: -1px 1px 12px 0px rgba(0, 0, 0, 0.10);
    width: 1242px;
    height: 41px;
    margin-left: 99px;
    align-items: center;
    margin-top: 79px;
    padding-left: 21px;
}



.catText{
    font-family: Inter;
    font-size: 12px;
    
}

.line{
    width: 1px;
    height: 21px;
    background: black;
}

.search{
    width: 24px;
    height: 24px;
    margin-left: 500px;
}