.cont{
    margin-top: 38px;
    margin-left: 100px;
}



.type{
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-family: Inter;
    align-items: center;
    
}

.film{
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    gap:43px;
}

.movie{
    border-radius: 10px;
}

.movie-name,.subscribe{
    margin-top: 10px;
    font-family: Inter;
    font-size: 12px;
}

.subscribe{
    color:#BB0000;
    margin-top: 0px;
}

.m2{
    z-index:-2;
    position: absolute;
    margin-left:-171px;
}

.m1{
   opacity: 1;
   transition: 0.3s; 
}

.m1:hover{
    opacity: 0;
}
