.video{
    width: 82.2%;
    border-radius: 10px;
    background: #D9D9D9;
    margin-left: 6.6%;
    font-size: 48px;
    font-family: Inter;
    text-align: center;
    padding-top: 75px;
}

.mv1,.mv2{
    position: absolute;
    z-index: 5;
    left:13.7%;
    top:32.51%;
    width: 18.6%;
    height: 55.6%;
    border-radius: 10px;
    opacity: 1;
    transition: 0.4s;
}

.mv2{
    z-index: 4;
}

.mv1:hover{
    opacity: 0;
}

.titles{
    margin-left: 34.9%;
    display: flex;
    flex-direction: row;
    gap:9%;
    font-family: Inter;
}

.titles div{
    font-size: 48px;
}


.plot{
    width: 25.7%;
}

.about{
    margin-left: 35.1%;
    display: flex;
    flex-direction: row;
    gap:20.3%;
}

.rate{
    margin-top: 17px;
  
}




@media only screen and (max-width: 600px) {
    .titles div{
        font-size: 18px;
    }
}